@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

:root {
    --font: "DM Sans", sans-serif;
    --color-one:#FF8484 ;
    --color-two: #F7D9C4;
    --color-bg1: #DCE8EB;
    --color-bg2: #EFEFEF;
    --color-bg3: #DCE8EB;
    --color-text: #232323;

    
}

body{
    font-family: var(--font);

}
.a{
    text-decoration: none; /* Ghi đè lên thuộc tính text-decoration của thẻ a */
}

.buton{
    color: var(--color-text);
    background: white;
    border: 2px solid white;
    padding: 10px 30px;
    display: inline-block;
    border-radius: 10px;
    font-weight: 600;
}
.header .inner-icon-mobi{
    display: none;
}

@media (max-width:991px) {
    .header .inner-icon-mobi{
        display: block;
        font-size: 24px;
        cursor: pointer;
        margin-top: 10px;
    }
    .header .inner-menu{
        display: none;
    }
    .header .inner-social{
        display: none;
    }
    .header{
        padding: 15px 20px;
    }
}